<div class="formulario-container">
    <label for="toggleFormulario" class="btn-agregar-negocio" id="btnAgregarNegocio">Agregar Negocio</label>
    <input type="checkbox" id="toggleFormulario" class="toggle-checkbox" style="display:none;">
    
    <div id="formularioNegocio" class="formulario-negocio">
        <h2>Formulario para Agregar Negocio</h2>
        <form id="negocioForm">
            <div class="form-group-negocio">
                <label for="nombreNegocio">Nombre del Negocio:</label>
                <input type="text" id="nombreNegocio" name="nombreNegocio" class="form-control" required>
            </div>
            <button type="submit" class="btn-formulario">Agregar Negocio</button>
        </form>
    </div>
    <a href="/inicio" class="btn-volver">Volver al Módulo Inicio</a>
</div>
