<div class="login-container">

    <div class="login-form">
      <div class="logo">
      
        <h2>proyecto</h2>
      </div>
      <h3>Iniciar sesión en tu cuenta</h3>
     
      <form>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" placeholder="Ingresa tu usuario" />
        </div>
        <div class="form-group">
          <label for="contraseña">Contraseña</label>
          <input type="password" id="contraseña" placeholder="Ingresa tu contraseña" />
        </div>
        <div class="options">
          <label>
            <input type="checkbox" />
            Recuérdame
          </label>
          <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn login">Iniciar sesión</button>
      </form>
  
      <p class="footer">¿No tienes cuenta? <a href="/register">Crea una cuenta</a></p>
  
    </div>
  
    <div class="login-info">
      <div class="info-content">
       
      </div>
    </div>
  </div>
  