body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formulario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.btn-agregar-categoria {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.btn-agregar-categoria:hover {
    background-color: #0056b3;
}

#toggleFormularioCategoria:checked + .formulario-categoria {
    display: block;
}

.formulario-categoria {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    display: none;
    text-align: center;
}

.formulario-categoria h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.form-group-categoria {
    margin-bottom: 15px;
    text-align: left;
}

.form-group-categoria label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group-categoria input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn-formulario-categoria {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-formulario-categoria:hover {
    background-color: #0056b3;
}