<div class="formulario-container">
    <label for="toggleFormularioCategoria" class="btn-agregar-categoria">Agregar Categoría</label>
    <input type="checkbox" id="toggleFormularioCategoria" style="display: none;">
    <div class="formulario-categoria">
        <h2>Formulario para Agregar Categoría</h2>
        <form id="categoriaForm">
            <div class="form-group-categoria">
                <label for="categoria">Categoría:</label>
                <input type="text" id="categoria" name="categoria" class="form-control" required>
            </div>
            <button type="submit" class="btn-formulario-categoria">Agregar Categoría</button>
        </form>
    </div>
    <a href="/inicio" class="btn-volver">Volver al Módulo Inicio</a>
</div>
